table.gridTable {
  border-collapse: separate;
  margin: auto;
  border-spacing: 3px;
}

.gridCell {
  width: calc(min(2.8vw, 2.6vh) - 3px); /* (100vw - 10vw (margin)) / 32 = 2.8125 */
  height: calc(min(2.8vw, 2.6vh) - 3px);
  overflow: hidden;
  background: #2E3F5A;
  border-radius: 5px;
  border: 1px;
}

.gridTooltip,
.gridTooltip :global(.bp3-popover-wrapper) {
  width: calc(min(2.8vw, 2.6vh) - 7px);
  height: calc(min(2.8vw, 2.6vh) - 7px);
  display: block;
}

.gridCell.blocked {
  background-color: #BBBBBB;
}

.gridCell.checked {
  background-color: #75CCFA;
}

.gridCell.closed {
  background-color: #4C8CEB;
}

.gridCell.start {
  background-color: #4dd276;
}

.gridCell.end {
  background-color: #EC605B;
}