.root {
  height: min(10vh, 10vw);
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.listItem {
  padding: 5px;
  cursor: pointer;
}

.listItem:hover {
  background-color: #DDD;
}

.buttonGroup {
  margin-left: 15px;
}
